:root{
    --fundo: #141414;
    --logo: #e50914;
    --texto:#fff;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: #000;
    
}

header .container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}

header .logo a{
    color: var(--logo);
    font-family: 'Arial Black';
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.navigation{
    display: flex;
}

.navigation li{
    list-style: none;
    margin: 0 10px;
}

.navigation li a{
    color: var(--texto);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.navigation li:hover a{
    color: rgba(164, 164, 165, 0.5);
}

.search{
    position: relative;
    width: 300px;
    height: 40px;
}

.search input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--texto);
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px;
    backdrop-filter: blur(10px);
}

.search i{
    color: var(--texto);
    position: relative;
}


.search input::placeholder{
    color: var(--texto);
}

.search .fa-search{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding-right: 50px;
    color: var(--texto);
    border-radius: 1px solid var(--texto);
}

.banner{
  position: relative;
  width: 100%;
  min-height: 100vh; 
  padding: 0 100px;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.banner .gb{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    position: relative;
    z-index: 1;
    max-width: 550px;
}

.movieTitle{
    max-width: 250px;
}

.banner .content h4{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

.banner .content h4 span{
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child{
    padding-left: 0;
}

.banner .content h4 span:last-child{
    padding-right: none;
}

.banner .content h4 span i{
    background: red;
    color: var(--texto);
    padding: 0 8px;
}

.banner .content p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: var(--texto);
    margin: 10px 0 20px;
}

.banner .content .buttons{
    position: relative;
}

.banner .content .buttons a{
    position: relative;
    display: inline-block;
    
    padding: 6px 20px;
    margin-right: 15px;

    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;

    cursor: pointer;
    transition: .3s ease all;

    border-radius: 5px;
    
}
.banner .content .buttons a:nth-child(1){
    background-color: white;
    color: black;
}

.banner .content .buttons a:hover:nth-child(1){
    background-color: rgba(164, 164, 165, 0.5);
}

.banner .content .buttons a:nth-child(2){
    background-color: rgba(159, 159, 161, 0.7);
    color: white;
}

.banner .content .buttons a:hover:nth-child(2){
    background-color: rgba(91, 91, 92, 0.5);
}

.banner .content .button a i{
    margin-right: 15px;
}

.fa-play:before{
    margin-right: 10px;
}

.fa-circle-info:before{
    margin-right: 10px;
}

.box-filme{
    height: 50%;
    width: 50%;
    display: block;
  }

  .carroseu, .destaque{
      margin-left: 25px;
      padding: 10px 80px 5px 80px;
  }
  .destaque{
      color: var(--texto);
      font-size: 20px;
      font-weight: bold;
  }